{% extends 'base.html' %}

{% block head_imports %}
<link href="{{url_for('static',filename='bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}
	<br>
	<div class="row justify-content-md-center">
		<div class="col col-md-6">
			<h6 align="center"># calls per category</h6>
			<canvas id="myChart"></canvas>
		</div>

		<div class="col col-md-6">
		<h6 align="center">Average sentiment per country</h6>
			<div id="map"></div>
		</div> 
	</div> 

	<div class="row justify-content-md-center">
		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Filters
</button>
</div>

<!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
        <form id="filter_form">
<div id="filter_search_form" class="form-group">
	<!-- <p>Filters</p> -->
	<div id ="datepicker-container" class="row">
		
<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>

	</div>
<!-- 	<div class="row">
		<label for="filter_search_month">Month</label>
		<select class="form-control form-control-sm" id="filter_search_month">
		{% for month in months %}
		<option>{{month}}</option>
		{% endfor %}
		</select>
</div>
<div class="row">
		<label for="filter_search_day">Day</label>
		<select class="form-control form-control-sm" id="filter_search_day">
		{% for day in days %}
		<option>{{day}}</option>
		{% endfor %}
		</select>
</div> -->
<div class="row">
	<div class="col col-md-8">
		<label>Categories</label>
		<br>
		{% for category in categories %}
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{category}}"> {{category}}
			  </label>
			</div>
			{% endfor %}
	</div>
<!-- 	<div class="col col-md-4">
	<label for="filter_search_day">Select day</label>
	<select class="form-control form-control-sm" id="filter_search_location">
	{% for day in days %}
	<option>{{day}}</option>
	{% endfor %}
	</select>
	</div> -->
</div>
<!-- <div class="row justify-content-md-center">
<button id="filter_search_btn" type="button" class="btn btn-outline-primary">Search</button>
</div> -->
</div>
</form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="filter" type="button" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </div>
</div>






<!-- modal end -->

<!-- 		<div class="col col-md-9"></div>
		<div class="col col-md-3">
			


		</div> -->


<!-- <button id="randomise">Randomise</button>
<button id="randomiseMap">Randomise Map</button> -->

{% endblock%}



{% block imports %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{url_for('static',filename='js/datamaps.all.min.js')}}"></script>

<!-- <script src="{{url_for('static',filename='js/v2/map.js')}}"></script> -->
<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='js/v2/analysis.js')}}"></script>

{% endblock%}
