{% extends 'base.html' %}

{% block head_imports %}
<link href="{{url_for('static',filename='bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}
	<br>
	<div class="row justify-content-md-center">

		<div class="col col-md-8">
		<h6 align="center">Average sentiment per country</h6>
			<div id="map"></div>
		</div> 
	</div> 

	<div class="row justify-content-md-center">
		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Filters
</button>
</div>

<!-- Modal -->


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
        <form id="filter_form">
<div id="filter_search_form" class="form-group">
	<!-- <p>Filters</p> -->
	<label><b>Date range</b></label>
	<div id ="datepicker-container" class="row">
		
<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>

	</div>
<hr>
<div class="row">
	<div class="col col-md-8">
		<label><b>Categories</b></label>
		<br>
		{% for category in categories %}
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			    {{category}}
			  </label>
			</div>
			{% endfor %}
	</div>

</div>

</div>
</form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="filter" type="button" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </div>
</div>

<!-- modal end -->

{% endblock%}

{% block imports %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="{{url_for('static',filename='js/datamaps.all.min.js')}}"></script>

<!-- <script src="{{url_for('static',filename='js/v2/map.js')}}"></script> -->
<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='js/v2/analysis_geo.js')}}"></script>

{% endblock%}
