<!DOCTYPE html5>
<html>
<head>
	<title>ballers</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link href="{{url_for('static',filename='css/v2/style_v2.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/v2/dashboard_style.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='c3/c3.css')}}" rel="stylesheet">
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="{{url_for('static',filename='c3/c3.min.js')}}"></script>

	{% block head_imports %}
	{% endblock %}
	</head>

	<body>
<div id="fullpage">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand mb-0 h1" href="#">ballers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
  <a class="navbar-brand mb-0 h1" href="#">Real-Time monitoring and analysis of customer center calls</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


    <span class="navbar-toggler-icon"></span>
  </button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		<!-- <li class="nav-item {% if active=='sentiment'%}active{% endif %}">
		<a class="nav-link" href="{{url_for('v2')}}">Sentiment-graph <span class="sr-only">(current)</span></a>
		</li>
		&nbsp;&nbsp;&nbsp;
      <li class="nav-item {% if active=='analysis'%}active{% endif %}">
        <a class="nav-link" href="{{url_for('analysis')}}">Analysis <span class="sr-only">(current)</span></a>
      </li>
      		&nbsp;&nbsp;&nbsp;
      <li class="nav-item {% if active=='analysis_cat'%}active{% endif %}">
        <a class="nav-link" href="{{url_for('analysis_cat')}}">Analysis-cat<span class="sr-only">(current)</span></a>
      </li>
      &nbsp;&nbsp;&nbsp;
          <li class="nav-item {% if active=='analysis_geo'%}active{% endif %}">
      <a class="nav-link" href="{{url_for('analysis_geo')}}">Analysis-geo<span class="sr-only">(current)</span></a>
    </li>-->

      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Analysis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('v2')}}">Sentiments</a>
                <a class="dropdown-item" href="{{url_for('analysis_cat')}}">Category</a>
                <a class="dropdown-item" href="{{url_for('analysis_geo')}}">Geo-mapping</a>
              </div>
            </li>

    &nbsp;&nbsp;&nbsp;

    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Real-Time
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('real_time_from_file')}}">From audio file</a>
              <a class="dropdown-item" href="{{url_for('real_time')}}">From audio stream</a>

            </div>
          </li>


    <li class="nav-item">
        <a class="nav-link" href="{{url_for('info_page')}}">Info<span class="sr-only">(current)</span></a>
        </li>


    </ul>
  </div>

</nav>


<div id="dashboard" class="container-fluid">
{% block content %}
{% endblock %}
</div>


</div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
  {% block imports %}
  {% endblock %}

	</body>
</html>