{% extends 'base.html' %}


{% block head_imports %}
<link href="{{url_for('static',filename='bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}


{% block content %}

  <div class="row justify-content-md-center">


			<div class="col col-md-9">
				<!-- chart -->
				<div id="chart"></div>
			</div>  

		<div class="col col-md-3" align="center">


			<!-- filter -->
			<br>
<!-- 			<div class="row justify-content-md-center">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Filters
				</button>
			</div> -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Filters
			</button>

			<br>
			<br>
			<h6 id ="calls_made_h6" align="center"></h6>
			<div class="row justify-content-md-center">
			<div id="filter_search_list" class="list-group" id="list-tab" role="tablist">
			</div>
			</div>





		</div>  

		
  </div>

<!-- Modal -->


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="container-fluid">
        <form id="filter_form">
<div id="filter_search_form" class="form-group">
	<!-- <p>Filters</p> -->
	<label><b>Date range</b></label>
	<div id ="datepicker-container" class="row">
		
<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>

	</div>
	<hr>
<div class="row">
	<div class="col col-md-8">
		<label>Categories</label>
		<br>
		{% for category in categories %}
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{category}}"> {{category}}
			  </label>
			</div>
			{% endfor %}
	</div>
</div>
<hr>
<div class="row">
	<div class="col col-md-8">
		<label><b>Service agent</b></label>
		<br>
		{% for service_agent in service_agents %}
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			    <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
			    {{service_agent}}
			  </label>
			</div>
			{% endfor %}
	</div>
</div>

</div>
</form>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="filter" type="button" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </div>
</div>


<!-- modal end -->




<hr>

<!--   <div class="row justify-content-md-center">
			<div class="col col-md-10" align="center">
			<div id="get">
			<button id="status_button" class="btn btn-secondary">{{button_title}}</button>
			</div>	

			</div> 


  </div> -->

    <div class="row justify-content-md-center">
		<q id="transcript">transcript goes here</q>
  	</div>


{% endblock %}


{% block imports %}

<script src="{{url_for('static',filename='bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename='js/v2/graph.js')}}"></script>

{% endblock%}