{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

<div class="row justify-content-md-center">
    <div class="col col-md-2"></div>

<div class="col col-md-8">
<div class="jumbotron">
  <h1 class="display-4">Parameters for sentiment analysis</h1>
  <hr class="my-4">
  <p class="lead"><b>Score</b>: corresponds to emotional leaning. Lies between -1 (negative) and 1 (positive)</p>
  <p class="lead"><b>Magnitude</b>: indicates the overall strength of emotion. Lies between zero and infinity</p>
<!--   <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->

</div>
</div>

    <div class="col col-md-2"></div>
</div>
{% endblock%}
