#chart .c3-line-sentiments {
  stroke-width: 2.5px;
  color: "#028900";
}
.c3-xgrid-line line {
    stroke: blue;
}
.c3-xgrid-line.grid4 line {
    stroke: pink;
}
.c3-xgrid-line.grid4 text {
    fill: pink;
}
.c3-ygrid-line line {
    stroke: red;
}
.c3-ygrid-line.grid800 line {
    stroke: blue;
}
.c3-ygrid-line.grid800 text {
    fill: blue;
}
.c3-region.neg5 {
  fill: #b62020;
}
.c3-region.neg4 {
  fill: #cb2424;
}
.c3-region.neg3 {
  fill: #fe2e2e;
}
.c3-region.neg2 {
  fill: #fe5757;
}
.c3-region.neg1 {
  fill: #fe8181;
}
.c3-region.pos {
  fill: #4d7f17;
}
.c3-ygrid-line.one line {
    stroke: #aefe57;
    stroke-width: 1.5px;
}
.c3-ygrid-line.two line {
    stroke: #9afe2e;
    stroke-width: 1.5px;
}
.c3-ygrid-line.three line {
    stroke: #8ae429;
}
.c3-ygrid-line.four line {
    stroke: #6bb120;
}
.c3-ygrid-line.negone line {
    stroke: #fe8181;
}
.c3-ygrid-line.negtwo line {
    stroke: #fe5757;
}
.c3-ygrid-line.negthree line {
    stroke: #fe2e2e;
}
.c3-ygrid-line.negfour line {
    stroke: #cb2424;
}
.c3-ygrid-line line {
    stroke-width: .75px;
}